<nav class="navbar">
  <div class="container">
    <a href="/" class="church-name">
      <div class="h1">Kingston NY</div>
      <div class="h2">Church of Christ</div>
    </a>
    <button class="navbar-toggler">Menu</button>
    <div class="navbar-collapse collapse">
      <ul class="navbar-nav">
        <li class="navbar-list-item"><a class="navbar-link" href="/about-us/">About Us</a></li>
        <li class="navbar-list-item"><a class="navbar-link" href="/sermons/">Sermons</a></li>
        <li class="navbar-list-item"><a class="navbar-link" href="/articles/">Articles</a></li>
        <li class="navbar-list-item"><a class="navbar-link" href="/lessons/">Lessons</a></li>
        <li class="navbar-list-item"><a class="navbar-link" href="/studies/">Studies</a></li>
        <li class="navbar-list-item"><a class="navbar-link" href="/visitors/">Visitors</a></li>
        <li class="navbar-list-item"><a class="navbar-link" href="/contact-us/">Contact Us</a></li>
      </ul>
    </div>
  </div>
</nav>
