<meta charset="utf-8">
<meta name="viewport" content="width=device-width,minimum-scale=1">
<title>{{ .Title }}</title>



<!-- JS & CSS -->
<!-- <link rel="stylesheet" type="text/css" href="/design/{{ .Site.Data.webpack_assets.app.css }}"> -->
{{ $options := (dict "targetPath" "style.css" "outputStyle" "compressed" ) }}
{{ $style := resources.Get "styles.scss" | resources.ToCSS $options | resources.Fingerprint}}
<link rel="stylesheet" href="{{ $style.RelPermalink }}">

<!-- META TAGS -->
<script defer src="https://api.pirsch.io/pa.js"
    id="pianjs"
    data-code="IfMPYIDuvlZ0uhCPu0aTanKP1QNZAEh2"></script>
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">

{{ block "meta" . }}
{{ partial "meta.html" . }}
{{ end }}

<link rel="apple-touch-icon" href="/assets/icons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">

<!-- Extras -->
{{ block "scripts" . }}

{{ end }}
