@use "./scss/reboot";
@use "./scss/colors";
@use "./scss/typography";
@use "./scss/layout";
@use "./scss/header";
@use "./scss/hero";
@use "./scss/home";
@use "./scss/footer";
@use "./scss/sermons";
@use "./scss/lessons";
@use "./scss/shortcodes";
@use "./scss/studies";
@use "./scss/navigation";

@view-transition {
  navigation: auto;
}
