:root {
  --black: hsl(48, 17%, 15%);
  --darkest: hsl(67, 9%, 39%);
  --darker: hsl(44, 34%, 48%);
  --lighter: hsl(47, 82%, 96%);
  --white: hsl(48, 35%, 95%);
  --accent: hsl(42, 100%, 60%);
}

body {
  color: var(--white);
}
