:root {
  --black: hsl(48deg 17% 15%);
  --darkest: hsl(67deg 9% 39%);
  --darker: hsl(44deg 34% 48%);
  --lighter: hsl(47deg 82% 96%);
  --white: hsl(48deg 35% 95%);
  --accent: hsl(42deg 100% 60%);
}

body {
  color: var(--white);
}
