footer {
  padding: 3rem 0;
  background-color: var(--darkest);
  text-align: center;
}

.attribution {
  margin-top: 1em;
  font-size: 0.75rem;
}

.contact-info {
  a {
    color: inherit;
  }

  a:hover {
    text-decoration: underline;
  }
}
