.post-nav {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 960px;
  margin: 0 auto;
  padding: 0.5em 1em;
  border-top: 3px solid var(--darker);
}

.post-nav-caption {
  font-size: 0.5rem;
  text-transform: uppercase;
}

.post-nav-item-next {
  text-align: right;
}

.post-nav a {
  color: inherit;
}

.post-nav-item {
  max-width: 175px;
}

.post-nav-link {
  display: block;

  &:hover {
    background-color: var(--darker);
  }
}

.post-nav-post-title {
  margin: 0;
  font-size: 0.75rem;
}

@media screen and (min-width: 769px) {
  .post-nav {
    padding: 0;
  }

  .post-nav-link {
    margin: 16px 0;
    padding: 4px 8px;
  }

  .post-nav-item {
    max-width: 300px;
  }

  .post-nav-caption {
    font-size: 0.75rem;
  }

  .post-nav-post-title {
    font-size: 1rem;
  }
}
