name: Deploy Admin

on:
  push:
    paths:
      - "admin/**"
      - ".github/workflows/deploy-admin.yml"
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/${{ github.repository }}:master
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install dependencies
        run: cd admin && bun install --frozen-lockfile

      - name: Build admin app
        run: cd admin && bun run build

      - uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: ${{ secrets.GITHUB_TOKEN }}
          firebaseServiceAccount: ${{ secrets.FIREBASE_SERVICE_ACCOUNT }}
          channelId: live
          projectId: kingstonchurchofchrist-8a8f3
          target: admin
